body {
  font-family: 'Montserrat', sans-serif;
  padding: 30px;
}

header {
  text-align: center;
}

main {
  color: rgb(72, 72, 72);
}

.image-resume {
  border-radius: 50%;
  height: 130px;
  width: 130px;
}

.link-in-header {
  text-decoration: none;
  color: rgb(72, 72, 72);
}

.linl-tel {
  border-left: solid 1px;
  border-right: solid 1px;
  padding-left: 5px;
  padding-right: 5px;
}

.main-section__header {
  border-top: solid 2px;
  border-bottom: solid 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.info-post {
  font-weight: normal;
}

.experience-date {
  font-style: italic;
}